.doctored {
    font-family:Ubuntu,sans-serif;
    padding:0px;
    margin:0px;
    outline:none;
}

    .doctored:before {
        float:right;
        text-align:right;
        margin-right:30px;
        width: 180px;
        position:relative;
        top:1.3em;
        color: rgb(102, 102, 102);
        text-shadow: 1px 1px 1px #999999;
        font-size: 13px;
        font-weight: bold;
        transform: rotate(1deg);
        font-family: 'Reenie Beanie', Arial, sans-serif;
        content: "Validation messages\21B4";
    }

    .doctored .block {
        position:relative;
        /*clear:both;*/
        display:block;
        margin:0px 200px 0px 0px;
        padding:0.5em 0px 1em 2.5em;
        border-radius:0px;
        box-shadow: inset 0px -8px 8px -8px rgba(200,200,200,1), 0px 5px 5px #666666;
        background: #fff;
        overflow:visible;
    }

    .doctored .selection {
        background: red;
    }

    .doctored .block .block {
        padding:0.5em 0px 1em 2.5em;
        margin-top: 0.5em;
        margin-right: 0px;
        background: #111111;
        background: rgba(30,30,30,0.1);
        box-shadow: inset 0px 0px 5px rgba(255,255,255,1);
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10
    }

    .doctored .block:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .doctored > .block:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 4px 5px #999999;
    }

        .doctored .block:after {
            clear:both;
            position:absolute;
            display:inline-block;
            left: -0.2em;
            top: 0.5em;
            content: attr(data-element);
            color:#666666;
            margin-right: -3em;
            width:3em;
            white-space:nowrap;
            font-weight:bold;
            -webkit-transform-origin: 1 1;
            -webkit-transform: rotate(90deg) translate(1em, 0);
            -moz-transform-origin: 1 1;
            -moz-transform: rotate(90deg) translate(1em, 0);
            -ms-transform-origin: 1 1;
            -ms-transform: rotate(90deg) translate(1em, 0);
            transform-origin: 1 1;
            transform: rotate(90deg) translate(1em, 0);
            font-size:small;
            text-shadow:1px 1px 2px #dddddd;
            cursor: pointer;
        }

        /*.doctored .block.hide_errors:before,*/
        .doctored .block.has_errors:before {
            content: attr(data-error);
            -ms-transition:2s;
            -moz-transition:2s;
            -webkit-transition:2s;
            transition:2s;
            position:absolute;
            right:-200px;
            top:0px;
            width:160px;
            font-size:small;
            padding:10px;
            background: red;
            border-radius:5px;
            border: solid 2px white;
            color: white;
            clear:both;
            background-image:-webkit-linear-gradient( rgba(125, 125, 125, 0.5) 50%, 
                rgba(95, 95, 95, 0.5) 50%, 
                rgba(55, 55, 55, 0.5));
            background-image:-moz-linear-gradient( rgba(125, 125, 125, 0.5) 50%, 
                rgba(95, 95, 95, 0.5) 50%, 
                rgba(55, 55, 55, 0.5));
            -moz-box-shadow: 3px 3px 5px #888;
            -webkit-box-shadow: 3px 3px 5px #888;
            box-shadow: 3px 3px 5px #888;
        }

        .doctored .block.has_errors:before {
            opacity: 1;
        }

    .doctored .inline {
        position:relative;
        display:inline-block;
        background: #555555;
        background: rgba(30,30,30,0.1);
        padding-bottom:0.6em;
        border-radius: 0.5em;
        margin-bottom:0.5em;
        vertical-align: text-top;
    }

        .doctored .inline:after {
            position:absolute;
            display:inline-block;
            bottom:0.3em;
            left:50%;
            margin-left:-1em;
            content: attr(data-element);
            color:#666666;
            font-weight:bold;
            -webkit-transform-origin: 0px 100px;
            -webkit-transform: translate(0, 0.5em);
            -moz-transform-origin: 0px 100px;
            -moz-transform: translate(0, 0.5em);
            -ms-transform-origin: 0px 100px ;
            -ms-transform: translate(0, 0.5em);
            transform-origin: 0px 100px;
            transform: translate(0, 0.8em);
            font-size:small;
            text-shadow:1px 1px 2px #dddddd;
            cursor: pointer;
        }

.doctored-menu {
    display: block;
    margin: 0px;
    padding: 0px;
    text-transform:uppercase;
    font-family: sans-serif;
    font-size:small;
    font-weight:bold;
    margin-bottom:5px;
    margin-right:200px;
    opacity: 0.9;
    text-align:left;
}

    .doctored-menu:hover {
        opacity: 1;
    }

    .doctored-menu a {
        display: inline-block;
        border: solid 1px white;
        padding:8px 13px;
        margin-right:4px;
        background: #dddddd;
        text-decoration:none;
        background-color:#ededed;
        color:#888888;
        border-radius: 5px;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
        background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
        text-shadow:1px 1px 0px #ffffff;
        box-shadow: 0px 5px 14px -5px #bbbbbb;
        -ms-transition:1s;
        -moz-transition:1s;
        -webkit-transition:1s;
        transition:1s;
    }

    .doctored-menu a:hover {
        -moz-box-shadow:inset 0px 0px 5px #ffffff,inset 0px 0px 5px #ffffff,inset 0px 0px 5px #ffffff;
        -webkit-box-shadow:inset 0px 0px 5px #ffffff,inset 0px 0px 5px #ffffff,inset 0px 0px 5px #ffffff;
        box-shadow:inset 0px 0px 5px #ffffff,inset 0px 0px 5px #ffffff,inset 0px 0px 5px #ffffff;
        background-color:#dfdfdf;
        color: #666666;
    }

    .doctored-menu a:active {
        background-color:#666666;
    }

.doctored-view-source-textbox {
    position: fixed;
    z-index: 2;
    top: 3%;
    left: 3%;
    width: 92%;
    height:92%;
    border: none;
    -webkit-appearance: none; /* http://stackoverflow.com/questions/11658840/css-box-shadow-isnt-working-with-textarea-in-webkit */
    -moz-box-shadow:    0px 0px 10px #888, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc;
    -webkit-box-shadow: 0px 0px 10px #888, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc;
    box-shadow:         0px 0px 10px #888, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc;
    padding: 0.5%;
    outline: none;
}

.doctored-dialog {
    position: absolute;
    z-index:1;
    background: #000000;
    border-radius: 5px;
    padding: 2px;
    display:none;
}

    .doctored-dialog select::before {
        display: inline;
        content: "Choose element";
    }

    .doctored-dialog select {
        background: #000000;
        border: none;
        color: white;
        -webkit-appearance: none;
    }

        .doctored-dialog select optgroup,
        .doctored-dialog select option {
            background: black;
            color: white;
        }

.doctored-selection {
    display: inline;
    background: #66aaff;
    border: solid 1px #ffffff;
    border: solid 1px rgba(255,255,255,0);
    border-left: 0px;
    border-right: 0px;
    color: white;
}

    .doctored-selection:hover {
        border: solid 1px #4477cc;
        border-left: 0px;
        border-right: 0px;
    }
